@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.ctf_plugin_main * {
    font-family: "Lato", sans-serif;
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#ctf_form {
    text-align: center;
    position: relative;
}

#ctf_form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#ctf_form fieldset:not(:first-of-type) {
    display: none
}

#ctf_form input,
#ctf_form textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#ctf_form input:focus,
#ctf_form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#ctf_form .action-button {
    width: 100%;
    background: #000;
    font-weight: bold;
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 20px 15px;
    margin: 20px 0px 10px 5px;
    float: right;
    border-radius: 8px;
}

#ctf_form .action-button:hover,
#ctf_form .action-button:focus {
    background-color: #DF0500
}

#ctf_form .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#ctf_form .action-button-previous:hover,
#ctf_form .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}


.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

#ctf_form .fs-title {
    font-size: 24px;
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    padding: 0;
}

#progressbar .active {
    color: #000;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

/*

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

*/

#progressbar li:before {
    width: 0px;
    height: 0px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: #656565;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #656565;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #000;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #000;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

div#typewriter {
    display: flex;
    flex-flow: wrap;
    background: #F7F7F7;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
}

div#typewriter img {
    max-width: 80px;
    margin: 5px;
}


#ctf_form {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 48px rgba(28, 51, 64, .1);
}

#ctf_form input {
    background: #fff;
    padding: 25px 15px;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    font-family: 'Lato';
}

#ctf_form input:focus {
    border: 1px solid #000 !important;
}

#addNewFrase {
    margin-left: auto;
    background: #585858;
    max-width: fit-content;
    padding: 5px 15px 5px 10px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}

#addNewFrase:hover {
    background: #000;
}

#addNewFrase img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

#ctf_form select {
    height: 52px;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    font-family: 'Lato';
    margin: 20px 0;
}

#ctf_form .expressShipping {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px;
}

#ctf_form .expressShipping .expressBox {
    display: flex;
    align-items: center;
    width: 75%;
}

#ctf_form .expressShipping .expressBox input {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 10px;
}

#ctf_form .expressShipping .expressBox b {
    font-size: 20px;
}

#ctf_form .expressShipping .expressBox label {
    border: 0px !important;
}

#ctf_form .expressShipping .expressIcon {
    width: 25%;
}

#ctf_form textarea {
    background: #fff;
    border: 1px solid #CCCCCC !important;
    border-radius: 8px;
    height: 120px;
    font-family: 'Lato', 'sans-serif';
}

#ctf_form textarea:focus {
    border: 1px solid #000 !important;
}

.standardShipping {
    margin-top: 20px;
}

.standardShipping h4,
.standardShipping p {
    margin-bottom: 10px;
}

#ctf_form .twiceField {
    display: flex;
    gap: 0 15px;
}

.termCondition {
    display: flex;
    align-items: center;
}

.termCondition input {
    max-width: 20px;
    height: 20px;
    margin: 0 10px 0 0 !important;
}

.termCondition label {
    margin: 0 !important;
    text-align: left;
    font-size: 16px !important;
    border: none;
}

.termCondition label a {
    color: #FF0000;
}